@model IEnumerable<MVCBooktopia.Models.AluguelModel>

@{
    ViewData["Title"] = "Aluguéis Concluídos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Lista de Aluguéis Concluídos</h1>

<table class="table uk-table uk-table-hover uk-table-striped bg-white" id="tabelas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro.Titulo)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.DataAluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            @if (item.Devolvido == true)
            {
                 <tr id="tabela-aluguel" >
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Livro.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAluguel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDevolucao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Multa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>                  
                        <a class="btn text-light" style="background-color:#d98737" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a>
                    </td>
                </tr>                
            }
            
        }
    </tbody>    
</table>
<div class="btn-group w-25 p-3">
    <a class="btn text-light" style="background-color:#d98737" asp-action="Index">Voltar</a>
</div>
