@model IEnumerable<MVCBooktopia.Models.AluguelModel>

@{
    ViewData["Title"] = "Aluguéis Pendentes";
}

<h1 class="text-center">Lista de Aluguéis Pendentes</h1>

<div class="hstack gap-3">
  <a class="btn text-light" style="background-color:#d98737" asp-action="Create">Novo Aluguel</a>
  <a class="btn text-light ms-auto" style="background-color:#d98737" asp-action="Devolvidos">Alugueis Concluídos</a>
</div>

<table class="table table-striped bg-white">
    <thead>
        <tr id="tabela-aluguel">
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro.Titulo)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.DataAluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            if(item.Devolvido == false)
            {
                <tr id="tabela-aluguel">
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Livro.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAluguel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDevolucao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Multa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>                
                    
                    <td>
                        <a class="btn text-light" style="background-color:#d98737" asp-action="Details" asp-route-id="@item.Id">Detalhar</a>    
                    </td>
                    <td>
                        <a class="btn text-light" style="background-color:#d98737" asp-action="Devolver" asp-route-id="@item.Id">Devolver</a>
                    </td>
                </tr>
            }
            
        }
    </tbody>
</table>
