@model IEnumerable<MVCBooktopia.Models.LivroModel>

@{
    ViewData["Title"] = "Livros Desativados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Lista de Livros Desativados</h1>

<table class="table table-striped bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.Ativo == false)
            {
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-action="Reativar" asp-route-id="@item.Id" class="btn" style="color:#d98737; border: 1px solid #d98737;">Reativar</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn text-light" style="background-color:#d98737"><i class="bi bi-card-text"></i></a>
            </td>
        </tr>   
            }            
}
    </tbody>
</table>
<div>
    <a class="btn text-light" style="background-color:#d98737" asp-action="Index">Voltar</a>
</div>
