@model IEnumerable<MVCBooktopia.Models.LivroModel>

@{
    ViewData["Title"] = "Livros";
}

<h1 class="text-center">Livros Disponíveis</h1>

<div class="hstack gap-3">
  <a class="btn text-light" style="background-color:#d98737" asp-action="Create">Novo Livro</a>
  <a class="btn text-light ms-auto" style="background-color:#d98737" asp-action="Desativados">Livros Desativados</a>
</div><br />
<table class="table table-striped bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.Ativo == true)
            {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataLancamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        <a style="width:98px; background-color:#d98737;" class="btn text-light" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <div style="height:10px;"></div>
                        <a style="width:98px; background-color:#d98737;" class="btn text-light" asp-action="Details" asp-route-id="@item.Id">Detalhar</a>
                        <div style="height:10px;"></div>
                        <a style="width:98px; background-color:#d98737;" class="btn text-light" asp-action="Desativar" asp-route-id="@item.Id">Desativar</a>
                    </td>
                </tr>
            }
}
    </tbody>
</table>
